bokeh
datashader
earthaccess
earthengine-api
earthpy
easystac
eemont
eoreader
fiona
folium
geemap>=0.32.1
geocube
geodatasets
geopandas
geotiff
ipygany
ipyleaflet
jupyterlab
leafmap>=0.33.1
mapwidget
matplotlib
netcdf4
notebook
odc-stac
osmnx
plotly
pyproj
pystac-client
rasterio
rioxarray
s2cloudless
sentinelsat
shapely
scikeo
simplekml
xarray
xarray-spatial
xee
xarray
